* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 60%;
}

:root {
    --color-bg-dark: #15161A;
    --color-bg-button: #292a2d;
    --color-bg-light: #202125;
    --color-text-light: #5B5D68;
    --color-red: #CB3F3F;
    --color-red-dark: #B52525;
    --color-text-white: #fff;
    --font-family-big-sholders-text: 'Big Shoulders Text', cursive;
    --color-bg-darked:#111217;
}

html,
body,
#root {
    background: var(--color-bg-dark);
    min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
input,
button,
select,
textarea {
    font-family: var(--font-family-big-sholders-text);
}

::-webkit-scrollbar {
    width:0.7rem;
    height: 0.7rem;
    }
     
    /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
    ::-webkit-scrollbar-track {
    background:var(--color-bg-light);
    }
     
    /* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
    ::-webkit-scrollbar-thumb {
    background: var(--color-text-light);
    }
