
/*PAGINATOR*/
#container-paginator {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

#container-paginator .content-paginator{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15rem 0 5rem 0;
}
#container-paginator .content-paginator button{
    background: var(--color-bg-light);
    font-size: 2.5rem;
    color:var(--color-red);
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 0.2rem;
    cursor: pointer;
    margin:1rem;
    transition: 0.3s ease-in-out;
}

#container-paginator .content-paginator button:hover{
    background:var(--color-red);
    color:var(--color-bg-light);
}

#container-paginator .content-paginator .page_active{
    background:var(--color-red);
    color:var(--color-bg-light);
    font-size: 2.5rem;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 0.2rem;
    cursor: pointer;
    margin:1rem;
}

@media(max-width: 767px){
    
    #container-paginator .content-paginator button,
    #container-paginator .content-paginator .page_active{
        margin: 0.3rem;
        font-size: 1.8rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}